.place__title {
  margin: 0;
  padding: 0;
  width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  margin-bottom: 48px;
  color: #FFFFFF;
}

/*до 1280 — для небольших ноутбуков*/
@media all and (max-width: 1279px)  {
  .place__title {
    width: 440px;
  }
}

/*до 1024 пикселей — от вертикального до горизонтального положения планшета*/
@media all and (max-width: 1023px) {
  .place__title {
    width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}

/*до 768 пикселей — от большого смартфона до вертикального положения планшета*/
@media all and (max-width: 767px) {
  .place__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 32px;
  }
}