.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  max-width: 1184px;
  min-width: 288px;
  margin: 92px 48px 0;
}

/*от 1280 пикселей — от стандартных ноутбуков и до бесконечности*/
@media all and (min-width: 1280px) {
  .photo-grid {
    margin: 92px auto 0;
  }
} 

/*от 1024 и до 1280 — для небольших ноутбуков*/
@media all and (min-width: 1024px) and (max-width: 1279px)  {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

/*от 768 и до 1024 пикселей — от вертикального до горизонтального положения планшета*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 88px 24px 0;
  }
}

/*до 768 пикселей — от большого смартфона до вертикального положения планшета*/
@media all and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 76px 20px 0;
    gap: 12px;
  }
}

/*до 500 (своя ширина) пикселей — мобильные устройства*/
@media all and (max-width: 500px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    margin: 64px 16px 0;
  }
}