.places {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  min-width: 320px;
  margin: 92px auto 0;
}

/*от 1024 и до 1280 — для небольших ноутбуков*/
@media all and (min-width: 1024px) and (max-width: 1279px)  {
  .places {
    width: 928px;
  }
}

/*от 768 и до 1024 пикселей — от вертикального до горизонтального положения планшета*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .places {
    width: 720px;
  }
}

/*до 425 пикселей*/
@media all and (max-width: 425px) {
  .places {
    margin-top: 64px;
  }
}