.place__image {
  max-width: 460px;
  max-height: 460px;
  object-fit: cover;
  object-position: center;
}

/*до 1280 — для небольших ноутбуков*/
@media all and (max-width: 1279px)  {
  .place__image {
    width: 440px;
    height: 440px;
  } 
}

/*до 1024 пикселей — от вертикального до горизонтального положения планшета*/
@media all and (max-width: 1023px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}

/*до 768 пикселей — от большого смартфона до вертикального положения планшета*/
@media all and (max-width: 767px) {
  .place__image {
    width: 340px;
    height: 340px;
    margin: 0 16px;
  }
}

/*до 425 пикселей — мобильные устройства*/
@media all and (max-width: 424px) {
  .place__image {
    width: 100%;
    height: 100vw;
    margin: 0 auto;
  }
}