.header__lang {
  margin-top: 18px;
  display: flex;
  justify-content: right;
}

/*до 425 пикселей — мобильные устройства*/
@media all and (max-width: 424px) {
  .header__lang {
  margin-top: 14px;
  }
}