.cover__subtitle {
  max-width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  color: #FFFFFF;
}

/*от 425 и до 768 пикселей — от большого смартфона до вертикального положения планшета*/
@media all and (min-width: 425px) and (max-width: 767px) {
  .cover__subtitle {
    width: 324px;
    font-size: 16px;
    line-height: 19px;
  }
}

/*до 425 пикселей — мобильные устройства*/
@media all and (max-width: 424px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 288px;
  }
}