.photo-grid__item {
  width: 100%;
  height: 213px;
  object-fit: cover;
  object-position: center;
}

/*до 1280 — для небольших ноутбуков*/
@media all and (max-width: 1279px)  {
  .photo-grid__item {
    height: 225px;
  }
}

/*до 1024 пикселей — от вертикального до горизонтального положения планшета*/
@media all and (max-width: 1023px) {
  .photo-grid__item {
    height: 264px;
  }
}

/*до 768 пикселей — от большого смартфона до вертикального положения планшета*/
@media all and (max-width: 767px) {
  .photo-grid__item {
    height: 216px;
  }
}