header {
  display: flex;
  justify-content: space-between;
  /* не работает */
  /*width: calc(100%-96px);*/ /* ширина для 1024, 1280 */
  min-height: 52px;
  /* добавить в элемент или модификатор для отступов*/
  margin: 0 48px 0;
  
  padding: 28px 0 56px;
  /* margin для 1024, 1280 */
  /* нужен ли сектион */
  /* заголовки */
}