.place__paragraph {
  max-width: 484px;
  min-width: 288px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  margin: 26px 0 0;
  color: #FFFFFF;
}

.place__paragraph:first-of-type {
  margin-top: 0;
}

/*до 1280 — для небольших ноутбуков*/
@media all and (max-width: 1279px)  {
  .place__paragraph {
    width: 456px;
  }
}

/*до 1024 пикселей — до горизонтального положения планшета*/
@media all and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    width: 352px;
    margin-top: 25px;
  }
}

/*до 768 пикселей до вертикального положения планшета*/
@media all and (max-width: 767px) {
  .place__paragraph {
    margin: 25px 16px 0;
    width: 288px;
  }

  .place__paragraph:first-of-type {
    margin-top: 32px;
  }
}