.footer__copyright {
  width: 186px;
  height: 16px;
  /*justify-self: self-end;*/
  /*align-self: flex-end;
  /*align-content: center;/*
  margin-left: auto;*/
  /*justify-content: flex-end;*/
  /*justify-content: flex-end;*/
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  margin: 0;
  text-align: right;

  color: #FFFFFF;
}