.intro__text {
  width: 100%;
  margin: 40px 0 33px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  /* or 26px */
  color: #FFFFFF;
}

/*до 768 пикселей — до вертикального положения планшета*/
@media all and (max-width: 767px) {
  .intro__text {
    margin-bottom: 34px;
  }
}

/*до 330 пикселей */
@media all and (max-width: 340px) {
  .intro__text {
    width: 288px;
  }
}