.intro {
  max-width: 690px;
  min-width: 288px;
  margin: 92px auto 0;
  padding-right: 294px;
}

/*до 1080 пикселей*/
@media all and (max-width: 1080px) {
  .intro {
    padding-right: calc(100% - 786px);
    margin: 92px 48px 0;
  }
}

/*от 768 и до 1024 пикселей — от вертикального до горизонтального положения планшета*/
@media all and (max-width: 1023px) {
  .intro {
    max-width: 100%;
    padding-right: 0;
    margin: 92px 24px 0;
  }
}

/*до 425 пикселей — мобильные устройства*/
@media all and (max-width: 424px) {
  .intro {
    margin: 64px 16px 0;
  }
}

/*принято к сведению*/
/*Контент секции intro будет проще выравнивать,
если задать секции такую же ширину, как у lead (984px), 
и центрировать его по горизонтали, а ограничение по ширине 
в 690рх задать только для самого контента
(можно отдельно для каждого элемента, а можно создать обертку внутри intro для этого), 
который прижать к левому краю контейнера.*/