.root {
  min-width: 320px;
  margin: 0 auto;
  /*background: #2A2C2F;*/ /* исходный */
  background: #F5F5F6;
  font-family: 'inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media all and (max-width: 1024px) { 
  .root { 
    background: red; 
  } 
 
  @media all and (width: 1024px) and (height: 1336px) { /* iPad Pro 12.9 */ 
    .root { 
      background: green; 
    } 
  } 
   
  @media all and (max-device-width: 1024px) and (max-device-height: 1336px) { /* iPad Pro 12.9 */ 
    .root { 
      background: blue; 
    } 
  } 
   
   @media all and (max-device-width: 1024px) and (max-device-height: 1336px) and (orientation:portrait) { /* iPad Pro 12.9 */ 
    .root { 
      background: white; 
    } 
  } 
}
