.root {
  min-width: 320px;
  margin: 0 auto;
  /*background: #2A2C2F;*/ /* исходный */
  background: #F5F5F6;
  font-family: 'inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
