.lead__subtitle {
  max-width: 640px;
  max-height: 72px;
  min-height: 40px;
  margin: 0 auto 64px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  text-align: center;
  color: #FFFFFF;
}

/* до 1280 — для небольших ноутбуков*/
@media all and (max-width: 1279px)  {
  .header {
    margin-bottom: 56px;
  }
}

/* до 768 пикселей — от большого смартфона до вертикального положения планшета*/
@media all and (max-width: 767px) {
  .lead__subtitle {
  font-size: 16px;
  line-height: 20px;
  width: 288px;
  margin-bottom: 40px;
  }
}