.lead__caption {
  min-width: 158px;
  margin: 8px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*до 976 пикселей*/
@media all and (max-width: 976px) {
  .lead__caption {
    margin-left: calc(24px - 0.3vw);
  }
}

/*до 928 пикселей*/
@media all and (max-width: 928px) {
  .lead__caption {
    margin-left: 24px;
  }
}

/*до 768 пикселей*/
@media all and (max-width: 767px) {
  .lead__caption {
    margin-left: 18px;
  }
}