.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/*до 768 пикселей — от большого смартфона до вертикального положения планшета*/
@media all and (max-width: 767px) {
  .footer__list {
    flex-direction: column;
  }
}