.place {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 80px; 
}

.place:last-of-type {
  margin-bottom: 0;
}

/*до 768 пикселей — до вертикального положения планшета*/
@media all and (max-width: 767px) {
  .place {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}

/*до 425 пикселей*/
@media all and (max-width: 424px) {
  .place {
    margin-bottom: 50px; 
  }
}

/*принято к сведению*/
/*Для реализации сетки в place можно использовать Grid Layout,
там хорошо подойдет колоночно-строчное построение сетки.
Можно задать grid-template-columns в fr или fr+px, и убрать ширину
с элементов внутри сетки, контент будет подстраиваться под заданный шаблон.*/