.place__website {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 456px;
  height: 46px;
  margin-bottom: 48px;
  align-self: end;
}

/*от 1280 пикселей — от стандартных ноутбуков и до бесконечности*/
@media all and (min-width: 1280px) {
  .place__website {
    padding-right: 28px;
  }  
} 

/*до 1024 пикселей — от вертикального до горизонтального положения планшета*/
@media all and (max-width: 1023px) {
  .place__website {
    width: 352px;
  }
}

/*до 768 пикселей — от большого смартфона до вертикального положения планшета*/
@media all and (max-width: 767px) {
  .place__website {
    width: 288px;
    margin-bottom: 32px;
    align-self: center;
  }
}