.place__website {
  width: 456px;
  height: 46px;
  margin-bottom: 48px;
  align-self: end;
  padding-right: 28px;
}



/*от 1280 пикселей — от стандартных ноутбуков и до бесконечности*/
@media all and (min-width: 1280px) {

} 

/*от 1024 и до 1280 — для небольших ноутбуков*/
@media all and (min-width: 1024px) and (max-width: 1279px)  {
   
}

/*от 768 и до 1024 пикселей — от вертикального до горизонтального положения планшета*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  
}

/*от 425 и до 768 пикселей — от большого смартфона до вертикального положения планшета*/
@media all and (min-width: 425px) and (max-width: 767px) {
  
}

/*до 425 пикселей — мобильные устройства*/
@media all and (min-width: 320px) and (max-width: 424px) {
  
}