.intro__title {
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  /* identical to box height, or 107% */
  color: #FFFFFF;
}

/*до 768 пикселей — до вертикального положения планшета*/
@media all and (max-width: 767px) {
  .intro__title {
    font-size: 38px;
    line-height: 41.5px;
  }
}

/*до 425 пикселей — мобильные устройства*/
@media all and (max-width: 424px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}